version: '3'
services:
  web:
    image: "comodo_proxy:latest"
    ports:
    - "8080:8080"
    volumes:
      - /etc/comodo_proxy/comodo_proxy.ini:/etc/comodo_proxy/comodo_proxy.ini:ro
      - /etc/krb5.keytab:/etc/krb5.keytab:ro
      - /etc/krb5.conf:/etc/krb5.conf:ro
      - /etc/pki/tls/certs/comodo_client.crt:/etc/pki/tls/certs/comodo_client.crt:ro
      - /etc/pki/tls/private/comodo_client.key:/etc/pki/tls/private/comodo_client.key:ro
      - /etc/comodo_proxy/acl:/etc/comodo_proxy/acl:ro
    environment:
     #Set gunicorn logging to debug
     GUNICORN_CMD_ARGS: "--log-level=debug"
     # To get better error messages out of kerberos/gssapi enable KRB5_TRACE
     KRB5_TRACE: /dev/stdout
     # When used behind a proxy, gunicorn will not trust the headers sent by the proxy
     # unless the following is set, this is dangerous if there is any chance the container
     # will be able to accept connections from anywhere but the proxy, it can be set to
     # specific IPs for more safety, see here: http://docs.gunicorn.org/en/latest/settings.html#forwarded-allow-ips
     FORWARDED_ALLOW_IPS: '*'